<p appHilight > {{"Hello" | caps}}</p>
<main style="width: 100%; display: flex; justify-content: center; padding: 20px;">
  <!-- <app-search-sort-pagination></app-search-sort-pagination> -->
  <!-- <app-infinite-scroll></app-infinite-scroll> -->
   <!-- <app-test-component></app-test-component> -->
   <router-outlet></router-outlet>
   <!-- <app-accessing-dom-ele></app-accessing-dom-ele> -->
    <!-- <app-cds></app-cds> -->
     <!-- <app-a-com></app-a-com> -->
      <!-- <app-deco-a></app-deco-a>
      <b>grand-parent</b> -->
      <!-- <app-lazy-load-com-without-routing></app-lazy-load-com-without-routing> -->
       <!-- <app-tdf></app-tdf> -->
        <!-- <app-rf></app-rf> -->
         <!-- <app-async-val></app-async-val> -->
          <!-- <app-singnals-ex></app-singnals-ex> -->
           <app-rxjs-ex></app-rxjs-ex>
    </main>