<p>infinite-loader works!</p>
<div style="border: 1px solid red; height: 430px; overflow-y: auto;" (scroll)="onScroll($event)">
    <table width="100%" style="text-align: center;" border="1px solid">
        <thead style="position:sticky; top:0px; background-color: yellowgreen;">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersData">
                <td>{{user.id}}</td>
                <td>{{user.title}}</td>
                <td>{{user.body}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="loading">Loading...</div>
</div>  