<p>home works!</p>
<pre>

    1. ngOnchange: executes when the input property change
    2. ngOnInIn : executes when the component is complety initialized
    3. ngDoCheck : executes when any property chang in the component
    4. ngAfterContentInit : execute when the projected content is initialized 
    5. ngAfterConotentChecked: execution when any updated happen in the projected content 
    6. ngAfterViewChecked : executes when the html template is completely initialied
    7. ngAfterViewChecked : executes when any change/updated happned on the html template 
    8. ngDestory : exeute just before of component destory or remove from the DOM. 
    
</pre>


<router-outlet></router-outlet>