<main style="width: 100%; height: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center; gap: 20px; text-align: center;">
  <div>
    <select name="" id="" (change)="onRouteChange($event)">
      <option *ngFor="let route of routes" [value]="route.link">{{route.displayName}}</option>
    </select>
  </div>
  <router-outlet></router-outlet>
</main>
<!-- <app-accessing-dom-element></app-accessing-dom-element> -->
<!-- <app-async-pipe></app-async-pipe> -->
<!-- <app-change-detection></app-change-detection> -->
<!-- <app-c-lifecycle></app-c-lifecycle> -->
<!-- <app-content-a></app-content-a> -->
<!-- <app-custom-directive></app-custom-directive> -->
<!-- <app-custom-pipe></app-custom-pipe> -->
<!-- <p>p tag from app component</p> -->
<!-- <app-parent-a></app-parent-a> -->
<!-- <app-host-binding></app-host-binding> -->
<!-- <app-api-call></app-api-call> -->
<!-- <button (click)="loadResolverCom()">Go to Resolver</button>
<div style="cursor: pointer;" routerLink="lazy-loading">go to lazy loading module</div> -->
<!-- <app-signals></app-signals> -->
<app-lazy-load-component-without-routing></app-lazy-load-component-without-routing>