<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="std1" class="bean.Student">
        <property name="name" value="Yuvraj Das" />
        <property name="email" value="yuvraj@gmail.com" />
        <property name="rollNo" value="101" />
    </bean>
</beans>